<% content_for :head do %>
<title>About me</title>
<% end %>

<main>
  <div class="container aboutme">
    <div class="row">
      <div class="col-md-6 about">
        <img src="https://scontent-arn2-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/408371_4094177066514_1145330955_n.jpg?oh=8b8a8f065c07e38addd337e87477b650&oe=55FA0923" alt="Maciej Kargier">
      </div>
      <div class="col-md-6 about">
        <h3>I am <span>Maciej Kargier</span></h3>
        <p>I was born in 1985 in Poland.</p>
        <p>I love traveling and reading spy books.</p>
        <p>Recently I have discovered that I love creating <mark>amazing websites!</mark><p>
      </div>
    </div>
  </div>
</main>
