<% content_for :head do %>
<title>Contact me</title>
<% end %>

<main>
  <div class="container contact">
    <h3>Send me an email: <a class="mail" href="mailto: maciejkargier@yahoo.com"> maciejkargier@yahoo.com</a></h3>
    <h3 class="social">Or find me on:</h3>
    <ul class="contact_social">
      <li><a class="facebook" href="https://www.facebook.com/maciej.kargier"></a></li>
      <li><a class="twitter" href="https://twitter.com/"></a>
      <li><a class="linkedin" href="https://www.linkedin.com/nhome/"></a></li>
    </ul>
  </div>
</main>