<main>
<div class="portfolio-banner"> 
    <ul>
      <li style="background-image:url(https://dl.dropboxusercontent.com/s/vxs5ip8ez7cgopn/1.JPG?raw=1)"></li>
      <li style="background-image:url(https://dl.dropboxusercontent.com/s/pxxb23ce7m7yvqf/2.JPG?raw=1)"></li>
      <li style="background-image:url(https://dl.dropboxusercontent.com/s/m6kmmf9ljwk5hw7/3.JPG?raw=1)"></li>
      <li style="background-image:url(https://dl.dropboxusercontent.com/s/vjro6lpx2empvlm/4.JPG?raw=1)"></li>
    </ul>
  </div>
  <div class="container projects">
    <div class="row">
      <a href="#" class="col-md-6 project">
        <img src="https://dl.dropboxusercontent.com/s/vxs5ip8ez7cgopn/1.JPG?raw=1">
        <h3>Broadway App</h3>
        <p>This is some interesting stuff about this awesome project.This is some interesting stuff about this awesome project.This is some interesting stuff about this awesome project.</p>
      </a>
      <a href="#" class="col-md-6 project">
        <img src="https://dl.dropboxusercontent.com/s/pxxb23ce7m7yvqf/2.JPG?raw=1">
         <h3>Bolt-Network</h3>
        <p>This is some interesting stuff about this awesome project.
        This is some interesting stuff about this awesome project.This is some interesting stuff about this awesome project.This is some interesting stuff about this awesome project.</p>
      </a>
      </div>
    <div class="row">
      <a href="#" class="col-md-6 project">
        <img src="https://dl.dropboxusercontent.com/s/m6kmmf9ljwk5hw7/3.JPG?raw=1">
        <h3>Innovation Cloud</h3>
        <p>This is some interesting stuff about this awesome project.
        This is some interesting stuff about this awesome project.This is some interesting stuff about this awesome project.</p>
      </a>
      <a href="#" class="col-md-6 project">
        <img src="https://dl.dropboxusercontent.com/s/vjro6lpx2empvlm/4.JPG?raw=1">
        <h3>Bass Music</h3><p>This is some interesting stuff about this awesome project.</p>    
      </a>
    </div>
  </div>
</main>

