<div class="jumbotron welcome">
<main>
  <div class="container">
  <h2>Hello! My name is <span class="name">Maciej Kargier</span> and I build awesome websites</h2>
    <a href="portfolio" class="btn btn-default btn-lg">View my Work</a>
  </div>
</main>
</div>
